POSTGRES_USERS_DB=users_db
POSTGRES_USERS_USER=users_user
POSTGRES_USERS_PASSWORD=change_me

POSTGRES_PETPAL_DB=petpal_db
POSTGRES_PETPAL_USER=petpal_user
POSTGRES_PETPAL_PASSWORD=change_me

COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_YHlWgVU4H
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_YHlWgVU4H

GATEWAY_PORT=9090

PGADMIN_DEFAULT_EMAIL=admin@petpal.local
PGADMIN_DEFAULT_PASSWORD=change_me
PGADMIN_PORT=5050
